/*
Author: Chris D
Date: 4/1/2024
File Name: styles.css
*/

/* CSS Reset */
body, header, main, nav, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

#header-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#header-grid img {
    max-width: 100%;
    padding: 2px;
}

#header-grid :nth-child(1){
    grid-column: 1/2;
    grid-row: 1;
}

#header-grid :nth-child(2){
    width: 100%;
    grid-column: 2/8;
    grid-row: 1;
}

#header-grid :nth-child(3){
    width: 100%;
    grid-column: 8/8;
    grid-row: 1;
}

.icons {
    padding-top: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gifs img {
    transform: rotate(-45deg);
    display: inline-block;
}

.gifs {
    display: grid;
    grid-template-columns: repeat (30, 1fr);
}

body {
    background-image: url("https://i.gifer.com/WBVk.gif");
    background-repeat: repeat;
    background-position: center;
    background-color: aquamarine
}

.btn {
    margin: 13em auto;
    top: 10%;
    left: 20%;
    display: grid;
    grid-column: repeat(10, 1fr);
    padding: 20px 30px;
    background-image: url("https://i.gifer.com/7ZlE.gif");
    color: #ffff;
    border-radius: 5px;
    z-index: 1;
}

.btn:hover {
    cursor: url("https://i.gifer.com/XVny.gif"), auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    flex-wrap: nowrap;
}

.grid-item {
    flex: 1 0 100px;
    margin: 5px;
}

.grid-item img {
    max-width: 150%;
    height: auto;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social a {
    margin-left: 10px;
}

.social img {
    max-width: 100px;
    height: auto;
}

