/*
Author: Chris D
Date: 4/1/2024
File Name: styles.css
*/

/* CSS Reset */
body, header, main, nav, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    height: auto;
    width: 15%;
}

.header-image {
    align-content: center;
    padding-top: 40px;
}

body {
    background-image: url("https://i.gifer.com/WBVk.gif");
    background-repeat: repeat;
    background-position: center;
    overflow-x: hidden;
    background-color: aquamarine
}

.btn {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    padding: 10px 20px;
    background-image: url("https://i.gifer.com/7ZlE.gif");
    color: #ffff;
    border-radius: 5px;
    z-index: 1;
}







